In [9]:
import yfinance as yf

# Define the ticker symbol
ticker_symbol = "TSLA"

# Create a ticker object
ticker = yf.Ticker(ticker_symbol)

# Download historical data
#historical_data = ticker.history(start="1990-01-01", end="2022-12-31", interval='1d')
#historical_data = ticker.history(interval="90m", start="2023-06-01", end="2023-07-01")
#ticker.history(interval="1d", start="1990-01-01", end="2022-12-31")
historical_data = ticker.history(period="1200d", interval='1d')

/Users/royzheng/workArea/workspace/trading/.venv/lib/python3.11/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [10]:
len(historical_data)

1200

available timeframes: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo >>>
1m data is only retrievable for the last 7 days, and anything intraday (interval <1d) only for the last 60 days.

In [11]:
historical_data.head(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-05-07 00:00:00-04:00,17.120001,17.147333,16.340000,16.470667,151971000,0.0,0.0
2019-05-08 00:00:00-04:00,16.462667,16.706667,16.280001,16.322666,92646000,0.0,0.0
2019-05-09 00:00:00-04:00,16.133333,16.245333,15.796000,16.132000,100671000,0.0,0.0
2019-05-10 00:00:00-04:00,15.983333,16.132668,15.734667,15.968000,105124500,0.0,0.0
2019-05-13 00:00:00-04:00,15.467333,15.498000,14.966667,15.134000,162522000,0.0,0.0
2019-05-14 00:00:00-04:00,15.286667,15.633333,15.200000,15.487333,108786000,0.0,0.0
2019-05-15 00:00:00-04:00,15.288000,15.496000,15.016667,15.463333,109440000,0.0,0.0
2019-05-16 00:00:00-04:00,15.299333,15.400000,15.100000,15.222000,112249500,0.0,0.0
2019-05-17 00:00:00-04:00,14.797333,14.816000,13.928000,14.068667,266800500,0.0,0.0
2019-05-20 00:00:00-04:00,13.520000,13.733333,13.016667,13.690667,307893000,0.0,0.0
2019-05-21 00:00:00-04:00,13.184000,13.826667,13.069333,13.672000,270058500,0.0,0.0
2019-05-22 00:00:00-04:00,13.273333,13.596000,12.785333,12.848667,280278000,0.0,0.0
2019-05-23 00:00:00-04:00,12.956000,13.298000,12.414667,13.032667,398206500,0.0,0.0
2019-05-24 00:00:00-04:00,13.322000,13.332000,12.583333,12.708667,212049000,0.0,0.0
2019-05-28 00:00:00-04:00,12.746667,13.000000,12.523333,12.580000,154693500,0.0,0.0
2019-05-29 00:00:00-04:00,12.473333,12.826000,12.336000,12.657333,179529000,0.0,0.0
2019-05-30 00:00:00-04:00,12.583333,12.817333,12.468000,12.548000,118897500,0.0,0.0
2019-05-31 00:00:00-04:00,12.340000,12.661333,12.273333,12.344000,156100500,0.0,0.0
2019-06-03 00:00:00-04:00,12.367333,12.445333,11.799333,11.931333,195966000,0.0,0.0
2019-06-04 00:00:00-04:00,12.073333,12.932000,11.974000,12.906667,207112500,0.0,0.0

In [12]:
historical_data.to_csv("tesla.candlestick_1_day.05072019.02092023.csv")

In [38]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-01 09:30:00-04:00,177.699997,179.285004,176.930603,178.949997,16414827,0,0
2023-06-01 11:00:00-04:00,178.960007,179.966705,178.770004,179.800003,10285276,0,0
2023-06-01 12:30:00-04:00,179.800003,180.000000,179.464996,179.889999,8774000,0,0
2023-06-01 14:00:00-04:00,179.884995,180.119995,179.559998,179.779999,10441409,0,0
2023-06-01 15:30:00-04:00,179.789993,180.119995,179.220001,180.110001,7887639,0,0
...,...,...,...,...,...,...,...
2023-06-30 09:30:00-04:00,191.630005,193.149994,191.259995,192.539993,23567749,0,0
2023-06-30 11:00:00-04:00,192.539993,192.820007,191.979996,192.589996,10279508,0,0
2023-06-30 12:30:00-04:00,192.585007,193.119995,192.500000,193.089996,7723901,0,0
2023-06-30 14:00:00-04:00,193.089996,193.539902,192.815002,193.490005,9869408,0,0
2023-06-30 15:30:00-04:00,193.490005,194.479996,193.279999,193.800003,13053197,0,0

In [27]:
historical_data = ticker.history(period="15m", start="2023-07-01", end="2023-07-16")

In [28]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-03 00:00:00-04:00,193.779999,193.880005,191.759995,192.460007,31458200,0,0
2023-07-05 00:00:00-04:00,191.570007,192.979996,190.619995,191.330002,46920300,0,0
2023-07-06 00:00:00-04:00,189.839996,192.020004,189.199997,191.809998,45094300,0,0
2023-07-07 00:00:00-04:00,191.410004,192.669998,190.240005,190.679993,46778000,0,0
2023-07-10 00:00:00-04:00,189.259995,189.990005,187.039993,188.610001,59922200,0,0
2023-07-11 00:00:00-04:00,189.160004,189.300003,186.600006,188.080002,46638100,0,0
2023-07-12 00:00:00-04:00,189.679993,191.699997,188.470001,189.770004,60750200,0,0
2023-07-13 00:00:00-04:00,190.500000,191.190002,189.779999,190.539993,41342300,0,0
2023-07-14 00:00:00-04:00,190.229996,191.179993,189.630005,190.690002,41573900,0,0

In [48]:
#data = yf.download("AAPL", start="2022-05-01", end="2022-05-03",  interval = "1m")
ticker.history(interval="1d", start="1990-01-01", end="2022-12-31")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1990-01-02 00:00:00-05:00,0.249936,0.265889,0.248164,0.264117,183198400,0.0,0.0
1990-01-03 00:00:00-05:00,0.269435,0.269435,0.265889,0.265889,207995200,0.0,0.0
1990-01-04 00:00:00-05:00,0.271208,0.274753,0.264117,0.266776,221513600,0.0,0.0
1990-01-05 00:00:00-05:00,0.267663,0.271208,0.262344,0.267663,123312000,0.0,0.0
1990-01-08 00:00:00-05:00,0.265889,0.269435,0.262344,0.269435,101572800,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-05:00,130.539854,132.035499,129.263572,131.477127,63814900,0.0,0.0
2022-12-27 00:00:00-05:00,130.998521,131.028433,128.346242,129.652435,69007800,0.0,0.0
2022-12-28 00:00:00-05:00,129.293484,130.649535,125.504522,125.674026,85438400,0.0,0.0
2022-12-29 00:00:00-05:00,127.618359,130.101127,127.359119,129.233658,75703700,0.0,0.0
2022-12-30 00:00:00-05:00,128.037144,129.572665,127.059986,129.552719,77034200,0.0,0.0